.App {
  text-align: center;
}

.App-header {
  background-color: #455d7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Articles {
  max-width: 80vw;
  margin: auto;
}

.Articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 5px;
}

.Article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.Article-card-title {
  color: black;
  text-decoration: none;
}

.Article-card-subheader {
  margin-top: 7px;
  text-align: right;
}

.Article-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.Card-widget {
  display: flex;
  margin: 5px;
}

.icon {
  position: relative;
  top: 10px;
  left: 5px;
}

.widget-text {
  margin: 10px;
}

.TopicNav {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
  padding: 20px;
}

.Section-Single-Article {
  max-width: 80vw;
  margin: auto;
}

.Header-Section-Title {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
  padding: 20px;
}

.Article-body {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.Article-section-body {
  line-height: 1.5;
}

.Article-section-body::first-letter {
  margin: 5px;
  float: left;
  font-size: 100px;
}

.Span-interaction-panel {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
}

.Section-comments {
  margin-top: 20px;
}

.comment {
  text-align: left;
  border-top: 1px solid lightgrey;
}

.Span-comment-header h4,
.Span-comment-header p {
  display: inline-block;
  margin-bottom: 0px;
}

.Span-comment-header p {
  margin-left: 10px;
}

.Span-comment-votes {
  display: flex;
}

.section-add-comment {
  text-align: left;
  margin-bottom: 20px;
}
